.dashboard-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.dashboard-main {
    padding: 20px;
}

.chart-container {
    width: 100%;
    height: 400px;
}

.button-download {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
